
header {
    text-align: center;
    background-color:white;
}
.menu-item{
    text-decoration: none;
    display: inline-block;
    word-spacing: 20px;
    text-align: center; /* Выравнивание справа */
    padding: 25px;
    margin:25px;
}

.menu-link{
    text-decoration: none;
    color: #2ca572;
    font-size: 20px;
    font-weight:bold;
    font-family:Roboto,sans-serif;
}
main{
    background-color: rgba(128, 128, 128, 0.1)
}
img {
    width: 100%;
    height: 790px;
    margin-right:150px;
    background-size: cover;
}
h1{
    font-size: 15px;
    text-align: center; /* Выравнивание по центре */
    font-weight:bold; /* жирный шрифт для абзаца */
    font-family: Roboto,sans-serif; /* Семейство шрифтов */
}
p {
    text-align: center; /* Выравнивание по центре */
    margin-left: 60px; /* Отступ слева в пикселах */
    margin-right: 10px; /* Отступ справа в пикселах */
    padding-left: 10px; /* Отступ от линии слева до текста  */
    padding-bottom: 10px; /* Отступ от линии снизу до текста  */
    font-weight:bold;
    font-family:Roboto,sans-serif; /* Семейство шрифтов */
    font-size: 15px;
    line-height:1.5; /*устанавливает интервал между строками текста (межстрочный интервал) */
}
p.textarea {
    resize: both;
    width: 200px;
    height: 200px;
}
#elem {
    margin: 10px; /* Отступ от линии снизу до текста  */
}
div.bottom {
    background-color: #22dc9e;
    margin:30px 750px 30px 750px;
    font-size: 10px;
    padding: 10px 10px;
  }
.bottom a {
    color:white;
    text-decoration: none;
    font-family:Roboto,sans-serif;
    font-weight:bold;
}
div.footer{
    background-color:white;

}
h3 {
    text-align:right;/* Выравнивание справа */
    margin-bottom:50px;
    margin-top:50px;
    font-family:Roboto,sans-serif;
    font-size: 12px;
    font-weight:bold;
    background-color:white;
}